.authpage{
    min-height: 100vh;
    background-image: url("../../assets/auth-bg.png");
    box-sizing: border-box;
    padding: 10px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}
.logo{
    font-size: 70px;
    margin: 7px 0px 0px 53px;
    font-weight: bolder;
}
.formSection{
    margin-top: 35px !important;
}
.formSection h2{
    font-size: 50px;
    text-align: center !important;
    font-weight: bolder;
    margin: 21px 0px !important;
}