.authpage{
    min-height: 100vh;
    background-image: url("../../assets/auth-bg.png");
    box-sizing: border-box;
    padding: 10px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}
.logo{
    font-size: 70px;
    margin: 7px 0px 0px 53px;
    font-weight: bolder;
}
.formSection{
    margin-top: 35px !important;
    flex-direction: column !important;
}
.formSection h2{
    font-size: 50px;
    text-align: center !important;
    font-weight: bolder;
    margin: 21px 0px !important;
}
.switchAuth_btn{
    width: fit-content !important;
    margin: 15px auto 0px auto !important;
    border: 1px solid white !important;
    color: white !important;
    font-size: 19px !important;
    padding: 4px 13px !important;
    border-radius: 13px !important;
}