.welcome{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.sidebar{
    border-right: 1px solid grey;
    min-height: 91vh;
}
.contentHeading{
    font-size: 52px;
    font-weight: bold;
    margin-top: 14px;
}

