.nav{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 10vh; */
    padding: 5px 0px;
}
.header h1{
    width: fit-content;
    color: white;
    font-size: 47px;
    margin-left: 70px;
}
.header button{
    width: fit-content !important;
    margin-right: 78px;
    font-size: 19px !important;
    padding: 6px 21px !important;
}
