.mailReader{
    width: 70% !important;
    /* border: 1px solid black !important; */
    margin: 30px auto !important;
    padding: 10px;
}
.backBtn{
    color: white !important;
    background-color: #FF9800 !important;
    font-size: 20px !important;
    padding: 5px 15px !important;
    border: none !important;
    border-radius: 5px;
}
.backBtn:hover{
    background-color: #cb800f !important;
}
.oppositeEmail{
    height: 100% !important;
    padding: 4px 0px !important;
    border-radius: 6px !important;
}
.oppositeEmail p{
    font-size: 22px;
    color: white;
}
.title{
    border: 1px solid rgb(208, 208, 208);
    margin: 30px auto 20px auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 33px;
    border-radius: 8px;
    background-color: rgb(237 246 255);
    font-weight: bolder;
}






/* editor css */

.toolbar{
    width: 100%;
    display: none;   
}
/* .toolbar a{
    text-decoration: none;
    color: black;
} */
.wrapper{
    border: 1px solid rgb(208, 208, 208);
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    overflow: hidden;
}
.textEditor{
    /* background-color: white; */
    background-color: rgb(237 246 255);
    padding: 0px 10px;
    min-height: 165px;
    line-height: 0.5;
    cursor:text;
}