.sidebarBox{
    height: 89vh;
    position: fixed;
    left: 0px;
    top: 10vh;
    width: 16.666666%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.composeBtn{
    border: none !important;
    font-size: 26px !important;
    padding: 10px 16px !important;
    margin: 33px auto !important;
    display: block !important;
    text-decoration: none !important;
    color: white !important;
    width: fit-content !important;
    border-radius: 12px !important;
}
.composeBtn:hover{
    color: white !important;
}
.sidebarBtn{
    text-decoration: none !important;
    color: white !important;
    text-align: center !important;
    padding: 7px 20px !important;
    display: block !important;
    margin: 6px auto !important;
    width: 75% !important;
    font-size: 22px !important;
    border-radius: 7px !important;
}
.sidebarBtn:hover{
    color: white;
    background-color: rgb(12, 98, 227) !important;
}
.sidebarText{
    border-top: 1px solid grey;
    padding: 10px;
}
.sidebarText p:nth-child(1){
    font-weight: bold;
}