body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primaryColor{
  color: rgb(11, 11, 56) !important;
}
.primaryColor:hover{
  color: rgb(17, 17, 81) !important;
}
.primaryBg{
  background-color: rgb(16, 16, 67) !important;
}
.primaryBg:hover{
  background-color: rgb(24, 24, 101) !important;
}